/* Carousel */
.fixed-height img{
    height: 300px !important;
}

.card-inner{
    margin-left: 5rem;
}

.recommendations{
    margin-left: 5% !important;
    margin-right: 5% !important;
    border-style: double;  
    border-color:gray;
}

.carousel-item .col-3 img {
    margin: 2px;
            margin-left: auto;
    margin-right: auto;
}

.c-control {
    background-color: black !important;
    width: 60px;
    height: 100px;
    top: 50%;
    margin-top: -50px;
    opacity: 50%;
}

/* Bootstrap login styles*/
html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn,
.sign_up_btn{
color: black;
background-color: #FFC312;
width: 100px;
}
.login_btn:hover,
.sign_up_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
/* End bootstrap login styles*/
.card-header{
    margin-bottom: 35px;
}

.input-group input {
    width: 305px;
}

@media only screen and (max-width: 600px) {
.input-group input {
    width: 200px;
}
}